html,body{
	height: 100%;
}

body{
	background-image:url("E:/Web_dev/vehicle-management-system/frontend/vehicle-management/src/components/road-image2.jpg");
	overflow-x: hidden;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-position: left top;
}

.nav{
    display: block;
    width: 100%;
    margin: 0;
}

.nav ul{
	background-color: brown;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
ul.topnav li{
	list-style: none;
    float: left;
    margin: 5px;
}
ul.topnav li.topnav-right{
	float: right;
}
ul.topnav li.topnav-right a{
	color: white;
}
ul.topnav li a{
	display: block;
	text-decoration: none;
	min-height: 16px;
	text-align: center;
	padding: 15px;
	color:white;
}
ul.topnav li a:hover{
	background-color: white;
	color: brown;
}
.dashboard-body{
    padding: 20px;
	font-size: large;
	background-color: #66cc99;
	margin: 20px;
	width: 30%;
	border-style: solid;
	border-color: black;
	border: 2px;
	border-radius: 8px;
	font-weight: bold;
	box-shadow: 6px 6px 3px 1px rgb(0,0,0,0.25);
}
.challan-form{
	margin: 30px;
}
tr:nth-child(even) {background-color: #e6e6e6;}
tr{
	font-weight: 500;
}
th{
	background-color: #a6a6a6;
}

label{
	color: black;
}
h2,h3,h4{
	margin: 20px;
}

.ftr{
    position: absolute;
    bottom: 5px;
	color: white;
	background-color: brown;
	width: 100%;
	text-align: center;
	height: 70px;
	padding: 20px;
  }
.landing-body{
	background-color: gray;
}

.table-container{
	background-color: #66cc99;
	margin: 20px;
}
.total-fine-body{
	color: white;
}

.details-link{
	color: blue;
}

.issue-challan-section{
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	margin-bottom: 10px;
	background-color: #66cc99;
	padding: 10px;
	border-radius: 8px;
	box-shadow: 6px 6px 3px 1px rgb(0,0,0,0.25);
	font-size: medium;
	text-align: center;
}

.issue-challan-section label{
	font-size: medium;
}
.issue-challan-section input{
	text-align: center;
}

.issue-frm{
	margin-left: 10%;
	margin-right: 10%;
}

.details-sctn{
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	padding: 20px;
	font-size: large;
	background-color: #66cc99;
	border-style: solid;
	border-color: black;
	border: 2px;
	border-radius: 8px;
	font-weight: bold;
	box-shadow: 6px 6px 3px 1px rgb(0,0,0,0.25);
	text-align: center;
}

.details-hdng{
	color: white;
}

.front-side{
	color: white;
	margin-left: 25%;
	margin-right: 25%;
}

.frnt-list{
	text-align: left;
}

.container{
	background-color: #66cc99;
	padding-bottom: 10px;
	border-radius: 8px;
	box-shadow: 6px 6px 3px 1px rgb(0,0,0,0.25);
}

.container label{
	font-size: medium;
	color: #404040;
}

.admin-section{
	color: white;
}